/* **  Styles for Login and Sign Up pages  */

.signup-error {
  text-align: left;
  line-height: normal;
  padding: 10px 5px;
  font-size: 14px;
  color: red;
  background: rgba(255, 0, 0, 16%);
  border: solid 1px;
  margin: 10px 0px;
  opacity: 0;
}
.signup-error.show {
  opacity: 0;
  transition: opacity 1s;
}

.signup-error.show {
  opacity: 1;
  transition: opacity 1s;
} 


.signup-input-error {
  color: crimson;
  border: solid 2px red;
}

.combo {
  position: relative;
  line-height: normal;
}

.show-password-icon {
  width: 20px;
  /* position: absolute; */
  /* right: 0.2em; */
  /* top: 0.1em; */
  /* right: 4px; */
  /* top: 9px; */
}

.show-pass {
  background: none;
  border: none;
  position: absolute;
  top: 0.5px;
  right: 2px;
  padding: 0;
  cursor: pointer;
}

.combo-in-right {
  border: none;
  background: none;
}


/* ! LOGIN Dev */
.collapsible-content > ul {
  text-align: left;
  margin: 0;
}

.collapsible-content > ul > li {
  line-height: normal;
}


.toggle-button {
  background-color: #177463;
  display: block;
  width: 100%;
  cursor: pointer;
}

/* HIDE CONTENT BY DEFAULT 
  Instead of using display:none to hide the content,
  we are using max-height: 0; opacity: 0; visibility: hidden;
  The reason is – CSS transition cannot animate display:none
*/

.collapsible-content {
  /* --time: 2s; */

  /* padding: 0; */
  max-height: 0;
  /* opacity: 0; */
  /* visibility: hidden; */

  overflow: hidden;
  background-color: #2c2c2c95;

  /* property name | duration | easing function | delay */
  transition: max-height .2s ease, overflow .1s;
  /* transition: max-height 2s ease; */
  /* transition: max-height .4s, opacity .4s, visibility .4s; */
}

/* HIDE CHECKBOX */
.toggle-check { display: none; }
/* (C) SHOW CONTENT WHEN CHECKED */

.toggle-check:checked + .collapsible-content {
  /* display: block;
  opacity: 1; */
  
  /* any insanely large number if a lot of contents */
  padding: 8px 0;

  overflow: auto;
  max-height: 105px; 
  /* opacity: 1; */
  /* visibility: visible; */
}



