/* Styles for 'About this web app' page */
.color-mongo { color: #00af00; }
.color-react { color: #00cfff; }
.color-node { color: #00ff45; }
.color-express { color: #ffffff; }

.public-w {
  width: 100%;
  padding: 0px 10px;
}
.public {
  display: flex;
  /* width: 100%; */
  /* align-items: center; */
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
}
.letter-item {
  width: 100%;
  height: auto;
}


.container-g {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  width: calc(100% - 80px);

  line-height: normal;
  font-size: 45px;
}
.con-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px 10px;

  transition: all .2s ease-in-out;
}
.con-group:hover {
  transform: scale(1.22);
  /* mix-blend-mode: multiply; */
}
.con-group > * {
  width: 100%;
  min-width: 80px;
  height: 100%;

  /* background: rgba(50, 150, 50, 0.0); */
}

.con-group {
  /* Set the background color for the mask */
  background-color: #1c1c1c90; 
}

/* Apply mix-blend-mode on hover for all other .con-group elements that are not hovered */
/* .con-group:hover ~ .con-group .letter-item,
.con-group:hover ~ .con-group img {
  mix-blend-mode: multiply;
} */

.readme {
  line-height: normal;
  margin-bottom: 1em;
}
.readme > p {
  margin: 10px 0 0;
}
.readme > ul {
  margin: 0;
}

/* @media screen and (max-width: 400px) and (min-width: 240px) { */
@media screen and (max-width: 400px) {
  .public {
    display: flex;
  }
  .container-g {
    flex-direction: column;
    width: calc(100% - 50%);
    justify-content: center;
  }
  .con-group {
    flex-direction: row;
    margin: 6px 0px;
  }
  .letter-item {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
}
