/* Styles for 'About this web app' page */
.color-mongo { color: #00af00; }
.color-react { color: #00cfff; }
.color-node { color: #00ff45; }
.color-express { color: #ffffff; }

.public-w {
  width: 100%;
  padding: 0px 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.public {
  display: flex;
  width: 100%;

  flex-direction: column;
  align-items: center;
  padding: 0px 10px;

  /* max-width: 800px; */
  /* align-items: flex-start; */
  justify-content: center;
}
.letter-item {
  width: 100%;
  height: auto;
}


.container-g {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  /* max-width: 700px; */
  width: calc(100% - 80px);
  /* width: inherit; */
  align-self: center;
  justify-content: space-evenly;

  line-height: normal;
  font-size: 45px;
}
.con-group {
  width: auto;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  margin: 0px 10px;

  transition: all .2s ease-in-out;
}
.con-group:hover {
  transform: scale(1.22);
  /* mix-blend-mode: multiply; */
}
.con-group > * {
  /* width: inherit; */
  width: 100%;
  min-width: 80px;
  height: 100%;

  /* background: rgba(50, 150, 50, 0.0); */
}
.con-group > div {
  flex: 1;
}
.con-group > img {
  flex: 2;
}

/* Apply mix-blend-mode on hover for all other .con-group elements that are not hovered */
/* .con-group:hover ~ .con-group .letter-item,
.con-group:hover ~ .con-group img {
  mix-blend-mode: multiply;
} */

.readme {
  line-height: normal;
  margin-bottom: 2.2em;

  max-width: 700px;
  /* align-self: center; */
}
.readme > p {
  margin: 10px 0 0;
  line-height: 1.5rem;
}


.tech-stack h2 {
  margin: 0px 0 10px;
}
.tech-stack ul {
  margin: 0;
  list-style: none;
  padding: 0 0 0 22px;
}

.tech-stack li {
  text-align: left;
  line-height: 1.45rem;
}

/* @media screen and (max-width: 400px) and (min-width: 240px) { */
@media screen and (max-width: 400px) {
  .public {
    display: flex;
  }
  .container-g {
    /* margin-left: -3rem; */
    margin: 1rem 0 2rem -3rem;
    width: calc(100% - 50%);

    flex-direction: column;
    justify-content: center;

    gap: 0.4rem;
  }
  .con-group {
    flex-direction: row;
    margin: 6px 0px;
  }
  .letter-item {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
}
